<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Feed</title>
  </head>

  <body>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">My Feed!</h1>
        <p class="lead text-muted">Discover what everyone's been up to!</p>
      </div>
    </section>

    <div class="container">
      <main role="main">

          <div class="col-sm-10 mx-auto">
            <h2>Share a new post with everyone!</h2>
            <%= render "form.html", Map.put(assigns, :action, post_path(@conn, :create)) %>

      </main>
    </div><br>

     <center> <div class="col-lg-8">
        <%= for post <- @posts do %>
          <div class="p-3 mb-2 text-black" style="border-radius: 25px; border-color: #0c5460;border-width: 1px; border-style: solid;">
              <h2><%= post.title %></h2>
              <p class="postContent"><%= post.content %></p>

              <p class="text-right">
                <span><%= link "Show", to: post_path(@conn, :show, post), class: "btn btn-primary btn-xs" %></span>
                <%= if (@current_user.is_admin?) || (@current_user.id == post.user_id) do %>
                  <span><%= link "Edit", to: post_path(@conn, :edit, post), class: "btn btn-primary btn-xs" %></span>
                  <span><%= link "Delete", to: post_path(@conn, :delete, post), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
                <% end %>
              </p>
            </div>
        <% end %>
        </div>
      </center>
      <span><%= link "New Post", to: post_path(@conn, :new) %></span>
  </body>
</html>

