<div class="col-md-9 mx-auto mt-5">
	<div class="container">
		<h2>Create New Post!</h2>

		<%= render "form.html", Map.put(assigns, :action, post_path(@conn, :create)) %>

		<span><%= link "Back", to: post_path(@conn, :index) %></span>
	</div>
</div>
