<div class="col-md-9 mx-auto mt-5">
	<div class="container">
		<h2>Create New User!</h2>

		<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

		<span><%= link "Back", to: user_path(@conn, :index) %></span>
	</div>
</div>